# Importing the relevant libraries.

In [10]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# Importing the required dataset

In [2]:
df = pd.read_csv('Modellingdata.csv')
df.head()

,Unnamed: 0,age,bmi,children,charges,male,yes,northwest,southeast,southwest
0,0,19,27.900,0,16884.92400,0,1,0,0,1
1,1,18,33.770,1,1725.55230,1,0,0,1,0
2,2,28,33.000,3,4449.46200,1,0,0,1,0
3,3,33,22.705,0,21984.47061,1,0,1,0,0
4,4,32,28.880,0,3866.85520,1,0,1,0,0

In [15]:
# Creating the independent and dependent features

X = df.drop(['charges', 'Unnamed: 0'], axis = 'columns')
y = df['charges']

# Creating the linear regression model.

In [11]:
# Creating a linear regression model
model = linear_model.LinearRegression()

In [16]:
model.fit(X,y)

LinearRegression()

In [18]:
model.score(X,y)

0.7509130345985207

In [19]:
model.predict([[45,26,2,1,0,0,0,1]])

array([8298.6628215])